.banner {
  background-image: url('./background.jpg') !important;
  height: 370px;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
  font-size: 18px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.m-0 {
  background-color: black;
  height: 53px;
  font-size: 35px;
}
